In [1]:
import ordens as op
import pandas as pd

In [12]:
classe = op.create_df_ordens()

In [1]:
pecas = {'ordens' :[532041,532042,532036,532037,532038,532039,532040,531166],
    'pedidos': [47517,47517,47511,47513,47518,47518,47521,99999] }

In [3]:
print(pecas['pedidos'])

[47517, 47517, 47511, 47513, 47518, 47518, 47521, 99999]

In [16]:
pecas['ordens'][0]

532041

In [18]:
frames = []
for ordem in pecas['ordens']:
    frames.append(classe.retorna_df_por_ordem(ordem))

In [21]:
dados = pd.concat(frames)

In [ ]:
op.gerar_csv(dados)

In [10]:
def converter_ts_datetime(column,dataset):
        dataset[column] = dataset[column]/1000
        dataset[column] = pd.to_datetime(dataset[column],unit='s')
        dataset[column] = pd.to_datetime(dataset[column].dt.strftime('%Y/%m/%d'))
        print(dataset[column])

In [19]:
from datetime import datetime

value = 33243966000000
value = value/ 1000
dt_object = datetime.fromtimestamp(value)
dt_object

OSError: [Errno 22] Invalid argument

In [11]:
dataset = pd.read_csv('teste.csv', sep=';')
dataset.head()

,Unnamed: 0,Vendedor,Data_emissao,n_pedido,Cliente,data_entrega,situacao,n_ped_cliente
0,0,caio,1678849200000,48141,DANIEL TRATO,1681527600000,Aberto,48141
1,1,caio,1678762800000,48129,CAMBUHY,1678762800000,Atendido Total,48129
2,2,caio,1678762800000,48137,GOIASA,1680490800000,Aberto,3200038686
3,3,caio,1678762800000,48138,ADECO CARMEN,1679540400000,Aberto,357242
4,4,caio,1678762800000,48122,US VICENTINA,1679022000000,Aberto,CAIQUE 14/03

In [18]:
i = 0
for item in dataset['data_entrega']:
    dt_object = datetime.fromtimestamp(item/1000)
    print(i,item , dt_object)
    i=i+1

0 1681527600000 2023-04-15 00:00:00
1 1678762800000 2023-03-14 00:00:00
2 1680490800000 2023-04-03 00:00:00
3 1679540400000 2023-03-23 00:00:00
4 1679022000000 2023-03-17 00:00:00
5 1683946800000 2023-05-13 00:00:00
6 1680231600000 2023-03-31 00:00:00
7 1678849200000 2023-03-15 00:00:00
8 1679626800000 2023-03-24 00:00:00
9 1686711600000 2023-06-14 00:00:00
10 1679022000000 2023-03-17 00:00:00
11 1678762800000 2023-03-14 00:00:00
12 1680490800000 2023-04-03 00:00:00
13 1680231600000 2023-03-31 00:00:00
14 1679022000000 2023-03-17 00:00:00
15 1679886000000 2023-03-27 00:00:00
16 1679281200000 2023-03-20 00:00:00
17 1678849200000 2023-03-15 00:00:00
18 1680145200000 2023-03-30 00:00:00
19 1678676400000 2023-03-13 00:00:00
20 1682650800000 2023-04-28 00:00:00
21 1678849200000 2023-03-15 00:00:00
22 1680231600000 2023-03-31 00:00:00
23 1679281200000 2023-03-20 00:00:00
24 1678935600000 2023-03-16 00:00:00
25 1680231600000 2023-03-31 00:00:00

OSError: [Errno 22] Invalid argument

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     105 non-null    int64
 1   Vendedor       105 non-null    object
 2   Data_emissao   105 non-null    int64
 3   n_pedido       105 non-null    int64
 4   Cliente        105 non-null    object
 5   data_entrega   105 non-null    int64
 6   situacao       105 non-null    object
 7   n_ped_cliente  105 non-null    object
dtypes: int64(4), object(4)
memory usage: 6.7+ KB

In [9]:
converter_ts_datetime('data_entrega',dataset)

0     1970-01-01
1     1970-01-01
2     1970-01-01
3     1970-01-01
4     1970-01-01
         ...
100   1970-01-01
101   1970-01-01
102   1970-01-01
103   1970-01-01
104   1970-01-01
Name: data_entrega, Length: 105, dtype: datetime64[ns]